In this notebook we will explore what exactly goes into pricing a diamond and how much each aspect affects the price.

    Question 1: Does a certain shape of diamond cost more than another?
    Question 2: How much do the 4 C's affect the price of a diamond?
    Question 3: Is it possible to know if you're getting a good price?

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
# List of file names
files = ['data_cushion.csv', 'data_round.csv', 'data_heart.csv', 'data_emerald.csv', 'data_oval.csv',
         'data_marquise.csv', 'data_pear.csv', 'data_princess.csv']

dfs = []

#Read each file and appends its dataframe to the list
for file in files:
    df = pd.read_csv('Diamonds2/'+file)
    dfs.append(df)

#Concatenate all dfs into a single dataframe
df = pd.concat(dfs, ignore_index=True)

In [13]:
df.shape

(6339, 11)

In [14]:
df.head()

,Id,Shape,Weight,Clarity,Colour,Cut,Polish,Symmetry,Fluorescence,Messurements,Price
0,1638147,CUSHION,0.55,SI2,E,EX,EX,VG,N,5.05-4.35×2.94,"1,378.65"
1,1630155,CUSHION,0.50,VVS1,FANCY,EX,EX,VG,F,4.60-4.31×2.92,"1,379.74"
2,1612606,CUSHION,0.51,VS2,H,EX,EX,VG,N,4.71-4.35×2.94,"1,380.19"
3,1638140,CUSHION,0.50,VS2,H,EX,EX,VG,N,4.91-4.26×2.88,"1,380.61"
4,1536093,CUSHION,0.53,SI1,D,EX,VG,VG,N,4.70-4.46×3.01,"1,383.13"

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6339 entries, 0 to 6338
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            6339 non-null   object
 1   Shape         6339 non-null   object
 2   Weight        6339 non-null   float64
 3   Clarity       6319 non-null   object
 4   Colour        6339 non-null   object
 5   Cut           6337 non-null   object
 6   Polish        6338 non-null   object
 7   Symmetry      6332 non-null   object
 8   Fluorescence  6337 non-null   object
 9   Messurements  6339 non-null   object
 10  Price         6339 non-null   object
dtypes: float64(1), object(10)
memory usage: 544.9+ KB

Clarity, Cut, Polish, Symmetry and Fluorescence has null values.

**Data Preparation**

In [16]:
#Check missing values
print(df[['Clarity', 'Cut', 'Polish', 'Symmetry', 'Fluorescence']].isnull().sum())

#Drop missing values
df.dropna(inplace=True)

Clarity         20
Cut              2
Polish           1
Symmetry         7
Fluorescence     2
dtype: int64

In [17]:
#Remove commas from Price column
df['Price'] = df['Price'].str.replace(',','')

#Convert Price column data type to numeric data type.
df['Price'] = pd.to_numeric(df['Price'])
df['Price']

0       1378.65
1       1379.74
2       1380.19
3       1380.61
4       1383.13
         ...
6334    1504.71
6335    1505.69
6336    1505.96
6337    1506.27
6338    1510.20
Name: Price, Length: 6311, dtype: float64

In [18]:
#Check for duplicates
duplicate_rows = df[df.duplicated()]
duplicate_rows.shape[0]

348

In [19]:
# Keep the first occurrence of each duplicated row
df.drop_duplicates(keep='last', inplace=True)
len(df)

5963